{%extends 'base.html'%}

{%block title%}Catalog{% endblock %}

{%block content%}

<section class="catalog-section">
    <h1 class="catalog-heading">Catalog</h1>
    <div class = 'product-grid'>
        {% for product in products %}
            <div class = "product-card">
                <a href="{{product.get_absolute_url}}">
                    <img src="{{product.image_thumbnail.url}}" alt="{{product.name}}">
                    <h2>{{product.name}}</h2>
                </a>
                <p> ${{product.price}} </p>
            </div>
        {% endfor %}
    </div>


    {% if is_paginated %}
      <nav class="pagination-nav" aria-label="Page navigation">
        <ul class="pagination">
          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ num }}{% if q %}&q={{ q }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">{{ num }}</a>
                  </li>
                {% endif %}
            {% endfor %}
            {% endif %}
        </ul>
      </nav>

</section>

{% endblock %}
