{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Online Store{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <header>
        <div class = "header-content">
            <h1>Nice to see you again!</h1>
            <nav>
                <ul class = "nav-links">
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'product-list' %}">Catalog</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 My Blog</p>
    </footer>
</body>