{% extends 'base.html' %}

{% block content %}
  <div class="home-container">
    <div class="hero-section">
      <h1>Welcome to the Online Store!</h1>
    </div>

    <section class="category-grid">
      <h2>Shop by Category</h2>
      <div class="grid">
        {% for cat in categories %}
          <div class="category-card">
            <a href="{% url 'product-list' %}?category={{ cat.slug }}">
              <img src="{{ cat.image_thumbnail.url }}" alt="{{ cat.name }}">
              <span class="label">{{ cat.name }}</span>
            </a>
          </div>
        {% endfor %}
      </div>
    </section>
  </div>
{% endblock %}