{% extends 'base.html' %}
{% block title %}My Profile{% endblock %}

{% block content %}
  <div class="profile-card">
    <h2>My Profile</h2>
    <p><strong>Name:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    {% if user.age %}<p><strong>Age:</strong> {{ user.age }}</p>{% endif %}
    {% if user.tel_number %}<p><strong>Phone:</strong> {{ user.tel_number }}</p>{% endif %}

    <a href="{% url 'profile-edit' %}" class="btn">Edit Profile</a>
    <a href="{% url 'password_change'%}" class="btn">Change password</a>


  </div>

  {% if orders %}
    {% for order in orders %}
      <div class="order-block">
        <h2>Your Orders</h2>
        <h3>Order #{{ order.pk }} — {{ order.created_at|date:"SHORT_DATETIME_FORMAT" }}</h3>
        <p><strong>Total:</strong> ${{ order.total_price }}</p>
        <table class="order-items-table">
          <thead>
            <tr><th>Product</th><th>Quantity</th><th>Price</th></tr>
          </thead>
          <tbody>
            {% for item in order.items_prefetched %}
              <tr>
                <td><a href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a></td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.price }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
  {% else %}
    <p>You have no past orders.</p>
  {% endif %}
{% endblock %}